@page "/admin/cars"
@inject ICar CarRepo

<h3>Car List</h3>

<table>
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image URL 1</th>
            <th>Image URL 2</th>
            <th>Image URL 3</th>
            <th colspan="2">Categories</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (CarList == null)
            {
                <tr>
                    <td colspan="9">
                        <span>Loading...</span>
                    </td>
                </tr>
            }
            else if (CarList.Count == 0)
            {
                <tr>
                    <td colspan="9">
                        <span>No cars found.</span>
                    </td>
                </tr>
            }
            else
            {
                @foreach (var car in CarList)
                {
                    <tr>
                        <td>@car.Brand</td>
                        <td>@car.Model</td>
                        <td>@car.Description</td>
                        <td>@car.Price</td>
                        <td>@car.ImageUrl1</td>
                        <td>@car.ImageUrl2</td>
                        <td>@car.ImageUrl3</td>
                        <td>
                            @*Implement Category here*@
                        </td>
                        <td>
                            <div>
                            </div>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@code {
    List<Car> CarList = null;

    protected override async Task OnInitializedAsync()
    {
        CarList = await CarRepo.GetAllAsync();
    }
}
