@page "/admin/cars/edit"
@inject ICar CarRepo

<h3>Delete Car</h3>

<EditForm Model="Car" OnSubmit="Submit" FormName="EditCar">
    <div>
        <label>Brand</label>
        <p>@Car.Brand</p>
    </div>
    <div>
        <label>Model</label>
        <p>@Car.Model</p>
    </div>
    <div>
        <label>Description</label>
        <p>@Car.Description</p>
    </div>
    <div>
        <label>Price</label>
        <p>@Car.Price</p>
    </div>
    <div>
        <label>Image URLs (Optional)</label>
        <label>Image URL 1</label>
        <p><a href="@Car.ImageUrl1">Image URL 1</a></p>
        <label>Image URL 2</label>
        <p><a href="@Car.ImageUrl2">Image URL 2</a></p>
        <label>Image URL 3</label>
        <p><a href="@Car.ImageUrl3">Image URL 3</a></p>
    </div>

    @*Implementering av Category Repository behövs*@

    @*
    <div>
    <label>Category</label>
    @foreach (var category in CategoryRepo.GetAll().ToList)
    {
    <InputCheckbox>@category.Name</InputCheckbox>
    }
    </div>
    *@

    <button type="submit">Delete</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    public Car Car { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Car = await CarRepo.GetByIdAsync(Id);
    }

    public async Task Submit()
    {
        await CarRepo.DeleteAsync(Id);
    }
}