@page "/admin/cars/edit"
@inject ICar CarRepo

<h3>Edit Car</h3>

<EditForm Model="Car" OnSubmit="Submit" FormName="EditCar">
    <div>
        <label>Brand</label>
        <InputText @bind-Value="Car.Brand" placeholder="@Car.Brand"></InputText>
    </div>
    <div>
        <label>Model</label>
        <InputText @bind-Value="Car.Model" placeholder="@Car.Model"></InputText>
    </div>
    <div>
        <label>Description</label>
        <InputText @bind-Value="Car.Description" placeholder="@Car.Description"></InputText>
    </div>
    <div>
        <label>Price</label>
        <InputNumber @bind-Value="Car.Price" placeholder="@Car.Price"></InputNumber>
    </div>
    <div>
        <label>Image URLs (Optional)</label>
        <label>Image URL 1</label>
        <InputText @bind-Value="Car.ImageUrl1" placeholder="@Car.ImageUrl1"></InputText>
        <label>Image URL 2</label>
        <InputText @bind-Value="Car.ImageUrl2" placeholder="@Car.ImageUrl2"></InputText>
        <label>Image URL 3</label>
        <InputText @bind-Value="Car.ImageUrl3" placeholder="@Car.ImageUrl3"></InputText>
    </div>

    @*Implementering av Category Repository behövs*@

    @*
    <div>
    <label>Category</label>
    @foreach (var category in CategoryRepo.GetAll().ToList)
    {
    <InputCheckbox>@category.Name</InputCheckbox>
    }
    </div>
    *@

    <button type="submit">Edit</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    public Car Car { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Car = await CarRepo.GetByIdAsync(Id);
    }

    public async Task Submit()
    {
        await CarRepo.EditAsync(Car);
    }
}