@page "/cars/order/"
@page "/cars/order/{id:int}/{PickupDate}/{ReturnDate}"

@inject ICar CarRepo
@inject ICustomer CustomerRepo
@inject IOrder OrderRepo
@inject NavigationManager NavigationManager
@inject FribergRentals.Utilities.SessionUtilities SessionUtilities
@inject IHttpContextAccessor HttpContextAccessor

@rendermode InteractiveServer

<div class="login-page">
	<EditForm class="form" Model="Order" OnSubmit="Submit" FormName="Make-Order">
		<div class="car-images" flex-row>
			<img src="@Car.ImageUrl1" />
			<div class="car-images-right">
				<img src="@Car.ImageUrl2" />
				<img src="@Car.ImageUrl3" />
			</div>
		</div>
		<div class="flex-row">
			<div class="flex-row">
				<label>Pick-up Date</label>
				<InputDate Type="InputDateType.DateTimeLocal" @bind-Value="@Order.PickupDate" @bind-Value:after="UpdatePrice" readonly></InputDate>
			</div>
			<div class="flex-row">
				<label>Return Date</label>
				<InputDate Type="InputDateType.DateTimeLocal" @bind-Value="@Order.ReturnDate" @bind-Value:after="@UpdatePrice" readonly></InputDate>
			</div>
		</div>
		<div class="car-blurb">
			<h2>
				@Car.Brand @Car.Model
			</h2>
			<p id="description">@Car.Description</p>
			<p>Price per day:</p> <h3>@($"{Car.Price.ToString("N0")}kr")<span class="per-day">/Day</span></h3>
			<p>Total Price:</p><h2>@($"{Order.TotalPrice.ToString("N0")}kr")<span class="per-day">/Day</span></h2>
		</div>
		<button class="btn" type="submit">Confirm</button>
		@if (!IsLoggedIn)
		{
			<p>Please <NavLink href="/login" Match="NavLinkMatch.All">log in</NavLink> before placing an order.</p>
		}
	</EditForm>
</div>





@code {
	[Parameter]
	public int Id { get; set; }

	[Parameter]
	public string PickupDate { get; set; }

	[Parameter]
	public string ReturnDate { get; set; }

	[SupplyParameterFromForm]
	public Order Order { get; set; } = new Order();

	public Car Car { get; set; } = new Car();

	public bool IsLoggedIn { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Car = await CarRepo.GetByIdAsync(Id);
		Order.PickupDate = DateTime.Parse(PickupDate);
		Order.ReturnDate = DateTime.Parse(ReturnDate);
		IsLoggedIn = true;
		await UpdatePrice();
	}

	async Task Submit()
	{
		HttpContext HttpContext = HttpContextAccessor.HttpContext;
		string sessionToken = SessionUtilities.ExtractSessionToken(HttpContext);
		Order.Customer = (Customer)await CustomerRepo.ValidateSessionToken(sessionToken);
		if (Order.Customer != null && Order.Customer is Customer)
		{
			Order.Car = Car;
			Order.TimeOfOrder = DateTime.Now;
			await OrderRepo.AddAsync(Order);
			await CustomerRepo.AddOrderAsync(Order.Customer, Order);
			NavigationManager.NavigateTo($"/cars/order/confirmation/{Order.Id}");
		}
		else
		{
			IsLoggedIn = false;
		}
	}

	async Task UpdatePrice()
	{
		int numberOfDays = (int)(Order.ReturnDate - Order.PickupDate).Days;
		if (numberOfDays < 1)
		{
			numberOfDays = 1;
		}
		Order.TotalPrice = numberOfDays * Car.Price;

		StateHasChanged();
	}
}
